@charset "UTF-8";
.el-checkbox2,
.el-checkbox__input2 {
  display: inline-block;
  position: relative;
}
.el-checkbox-button__inner2,
.el-checkbox__input2 {
  white-space: nowrap;
  vertical-align: middle;
  outline: 0;
}
.el-checkbox2 {
  color: #606266;
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
  white-space: nowrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.el-checkbox2.is-bordered {
  padding: 9px 20px 9px 10px;
  border-radius: 4px;
  border: 1px solid #dcdfe6;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  line-height: normal;
  height: 40px;
}
.el-checkbox2.is-bordered.is-checked {
  border-color: #F56C6C;
}
.el-checkbox2.is-bordered.is-disabled {
  border-color: #ebeef5;
  cursor: not-allowed;
}
.el-checkbox2.is-bordered + .el-checkbox2.is-bordered {
  margin-left: 10px;
}
.el-checkbox2.is-bordered.el-checkbox2--medium {
  padding: 7px 20px 7px 10px;
  border-radius: 4px;
  height: 36px;
}
.el-checkbox2.is-bordered.el-checkbox2--medium .el-checkbox__label2 {
  line-height: 17px;
  font-size: 14px;
}
.el-checkbox2.is-bordered.el-checkbox2--medium .el-checkbox__inner2 {
  height: 14px;
  width: 14px;
}
.el-checkbox2.is-bordered.el-checkbox2--small {
  padding: 5px 15px 5px 10px;
  border-radius: 3px;
  height: 32px;
}
.el-checkbox2.is-bordered.el-checkbox2--small .el-checkbox__label2 {
  line-height: 15px;
  font-size: 12px;
}
.el-checkbox2.is-bordered.el-checkbox2--small .el-checkbox__inner2 {
  height: 12px;
  width: 12px;
}
.el-checkbox2.is-bordered.el-checkbox2--small .el-checkbox__inner2::after {
  height: 6px;
  width: 2px;
}
.el-checkbox2.is-bordered.el-checkbox2--mini {
  padding: 3px 15px 3px 10px;
  border-radius: 3px;
  height: 28px;
}
.el-checkbox2.is-bordered.el-checkbox2--mini .el-checkbox__label2 {
  line-height: 12px;
  font-size: 12px;
}
.el-checkbox2.is-bordered.el-checkbox2--mini .el-checkbox__inner2 {
  height: 12px;
  width: 12px;
}
.el-checkbox2.is-bordered.el-checkbox2--mini .el-checkbox__inner2::after {
  height: 6px;
  width: 2px;
}
.el-checkbox__input2 {
  cursor: pointer;
  line-height: 1;
}
.el-checkbox__input2.is-disabled .el-checkbox__inner2 {
  background-color: #edf2fc;
  border-color: #dcdfe6;
  cursor: not-allowed;
}
.el-checkbox__input2.is-disabled .el-checkbox__inner2::after {
  cursor: not-allowed;
  border-color: #c0c4cc;
}
.el-checkbox__input2.is-disabled .el-checkbox__inner2 + .el-checkbox__label2 {
  cursor: not-allowed;
}
.el-checkbox__input2.is-disabled.is-checked .el-checkbox__inner2 {
  background-color: #f2f6fc;
  border-color: #dcdfe6;
}
.el-checkbox__input2.is-disabled.is-checked .el-checkbox__inner2::after {
  border-color: #c0c4cc;
}
.el-checkbox__input2.is-disabled.is-indeterminate .el-checkbox__inner2 {
  background-color: #f2f6fc;
  border-color: #dcdfe6;
}
.el-checkbox__input2.is-disabled.is-indeterminate .el-checkbox__inner2::before {
  background-color: #c0c4cc;
  border-color: #c0c4cc;
}
.el-checkbox__input2.is-checked .el-checkbox__inner2,
.el-checkbox__input2.is-indeterminate .el-checkbox__inner2 {
  background-color: #F56C6C;
  border-color: #F56C6C;
}
.el-checkbox__input2.is-disabled + span.el-checkbox__label2 {
  color: #c0c4cc;
  cursor: not-allowed;
}
.el-checkbox__input2.is-checked .el-checkbox__inner2::after {
  -webkit-transform: rotate(45deg) scaleY(1);
  transform: rotate(45deg) scaleY(1);
}
.el-checkbox__input2.is-checked + .el-checkbox__label2 {
  color: #F56C6C;
}
.el-checkbox__input2.is-focus .el-checkbox__inner2 {
  border-color: #F56C6C;
}
.el-checkbox__input2.is-indeterminate .el-checkbox__inner2::before {
  content: "";
  position: absolute;
  display: block;
  background-color: #fff;
  height: 2px;
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
  left: 0;
  right: 0;
  top: 5px;
}
.el-checkbox__input2.is-indeterminate .el-checkbox__inner2::after {
  display: none;
}
.el-checkbox__inner2 {
  display: inline-block;
  position: relative;
  border: 1px solid #F56C6C;
  border-radius: 2px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 14px;
  height: 14px;
  background-color: #fff;
  z-index: 1;
  -webkit-transition: border-color 0.25s cubic-bezier(0.71, -0.46, 0.29, 1.46),
    background-color 0.25s cubic-bezier(0.71, -0.46, 0.29, 1.46);
  transition: border-color 0.25s cubic-bezier(0.71, -0.46, 0.29, 1.46),
    background-color 0.25s cubic-bezier(0.71, -0.46, 0.29, 1.46);
}
.el-checkbox__inner2:hover {
  border-color: #F56C6C;
}
.el-checkbox__inner2::after {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  content: "";
  border: 1px solid #fff;
  border-left: 0;
  border-top: 0;
  height: 7px;
  left: 4px;
  position: absolute;
  top: 1px;
  -webkit-transform: rotate(45deg) scaleY(0);
  transform: rotate(45deg) scaleY(0);
  width: 3px;
  -webkit-transition: -webkit-transform 0.15s
    cubic-bezier(0.71, -0.46, 0.88, 0.6) 50ms;
  transition: -webkit-transform 0.15s cubic-bezier(0.71, -0.46, 0.88, 0.6) 50ms;
  transition: transform 0.15s cubic-bezier(0.71, -0.46, 0.88, 0.6) 50ms;
  transition: transform 0.15s cubic-bezier(0.71, -0.46, 0.88, 0.6) 50ms,
    -webkit-transform 0.15s cubic-bezier(0.71, -0.46, 0.88, 0.6) 50ms;
  -webkit-transform-origin: center;
  transform-origin: center;
}
.el-checkbox__original2 {
  opacity: 0;
  outline: 0;
  position: absolute;
  margin: 0;
  width: 0;
  height: 0;
  z-index: -1;
}
.el-checkbox-button,
.el-checkbox-button__inner2 {
  display: inline-block;
  position: relative;
}
.el-checkbox__label2 {
  display: inline-block;
  padding-left: 10px;
  line-height: 19px;
  font-size: 14px;
}
.el-checkbox2 + .el-checkbox2 {
  margin-left: 30px;
}
.el-checkbox-button__inner2 {
  line-height: 1;
  font-weight: 500;
  cursor: pointer;
  background: #fff;
  border: 1px solid #dcdfe6;
  border-left: 0;
  color: #606266;
  -webkit-appearance: none;
  text-align: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  padding: 12px 20px;
  font-size: 14px;
  border-radius: 0;
}
.el-checkbox-button__inner2.is-round {
  padding: 12px 20px;
}
.el-checkbox-button__inner2:hover {
  color: #F56C6C;
}
.el-checkbox-button__inner2 [class*="el-icon-"] {
  line-height: 0.9;
}
.el-checkbox-button__inner2 [class*="el-icon-"] + span {
  margin-left: 5px;
}
.el-checkbox-button__original2 {
  opacity: 0;
  outline: 0;
  position: absolute;
  margin: 0;
  z-index: -1;
}
.el-checkbox-button2.is-checked .el-checkbox-button__inner2 {
  color: #fff;
  background-color: #F56C6C;
  border-color: #F56C6C;
  -webkit-box-shadow: -1px 0 0 0 #8cc5ff;
  box-shadow: -1px 0 0 0 #8cc5ff;
}
.el-checkbox-button2.is-checked:first-child .el-checkbox-button__inne2r {
  border-left-color: #F56C6C;
}
.el-checkbox-button2.is-disabled .el-checkbox-button__inner2 {
  color: #c0c4cc;
  cursor: not-allowed;
  background-image: none;
  background-color: #fff;
  border-color: #ebeef5;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.el-checkbox-button2.is-disabled:first-child .el-checkbox-button__inner2 {
  border-left-color: #ebeef5;
}
.el-checkbox-button2:first-child .el-checkbox-button__inner2 {
  border-left: 1px solid #dcdfe6;
  border-radius: 4px 0 0 4px;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
.el-checkbox-button2.is-focus .el-checkbox-button__inner2 {
  border-color: #F56C6C;
}
.el-checkbox-button2:last-child .el-checkbox-button__inner2 {
  border-radius: 0 4px 4px 0;
}
.el-checkbox-button2--medium .el-checkbox-button__inner2 {
  padding: 10px 20px;
  font-size: 14px;
  border-radius: 0;
}
.el-checkbox-button2--medium .el-checkbox-button__inner2.is-round {
  padding: 10px 20px;
}
.el-checkbox-button2--small .el-checkbox-button__inner2 {
  padding: 9px 15px;
  font-size: 12px;
  border-radius: 0;
}
.el-checkbox-button2--small .el-checkbox-button__inner2.is-round {
  padding: 9px 15px;
}
.el-checkbox-button2--mini .el-checkbox-button__inner2 {
  padding: 7px 15px;
  font-size: 12px;
  border-radius: 0;
}
.el-checkbox-button2--mini .el-checkbox-button__inner2.is-round {
  padding: 7px 15px;
}
.el-checkbox-group2 {
  font-size: 0;
}
